@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(http://fontstatic.useso.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot);
}
@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: url(http://fontstatic.useso.com/s/shadowsintolight/v6/clhLqOv7MXn459PTh0gXYOb62E_zbtdBeaf9nLDgIoU.eot);
}